%section#work
  .container
    .work
      .title--container
        %h2 work
        %p Below are a few screenshots from sites I've worked on. Take a looksie.
      .content--container
        .work-img--container
          = image_tag 'marketing-dot-xaxis-admin.png', class: 'work-img responsive'
        .work-img--container
          = image_tag 'marketing-dot-xaxis-brand.png', class: 'work-img responsive'
        .work-img--container
          = image_tag 'marketing-dot-xaxis-hub.png', class: 'work-img responsive'
        .work-img--container
          = image_tag 'marketing-dot-xaxis.png', class: 'work-img responsive'
        .work-img--container
          = image_tag 'xaxis-main-homepage.png', class: 'work-img responsive'
        .work-img--container
          = image_tag 'xaxis-main-results.png', class: 'work-img responsive'
