!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TsPortfolio
    = csrf_meta_tags
    <script src="https://use.fontawesome.com/9789c97f78.js"></script>
    = stylesheet_pack_tag 'application'

    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1", :name => "viewport"}/
  %body
    = render "layouts/navbar"
    %main
      = yield
    = javascript_pack_tag 'application'
