!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TsPortfolio
    = csrf_meta_tags
    -# %link{href: "https://fonts.googleapis.com/css?family=Archivo+Black", rel: "stylesheet"}/
    = stylesheet_pack_tag 'application'

    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1", :name => "viewport"}/
  %body
    = render "layouts/navbar"
    %main
      = yield
    = javascript_pack_tag 'application'
